{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Lobster&family=Poppins:wght@100&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <title>Landing Page</title>
  </head>
  <body>
    <nav class="navbar">
      <a href="" class="logo-text">Product-Finder</a>
      <ul class="navbar-items">
        <li class="navbar-item">Home</li>
        <li class="navbar-item">About Us</li>
        <li class="navbar-item">Contact Us</li>
        <li class="navbar-item">Blog</li>
      </ul>
    </nav>
    <div class="main-content">
      <br /><br /><br /><br />
      <div class="search-box">
        <h3>Search Service a Product or Service of Your Choice</h3>
        <br /><br />
        <form action="" method="post">
          <input
            type="text"
            placeholder="Enter Product / Service"
          /><br /><br />

          <select name="" id="">
            <option value="default">Select County</option>
            <option value="">Kisumu</option>
            <option value="">Kirinyaga</option>
            <option value="">Kiambu</option>
            <option value="">Narobi</option></select
          ><br /><br />

          <select name="" id="">
            <option value="default">Select Sub-county</option>
            <option value="">Kisumu Central</option>
            <option value="">Muhoroni</option>
            <option value="">Kiambu North</option>
            <option value="">Ngara</option></select
          ><br /><br />
          <input type="button" value="Search" />
        </form>
      </div>
    </div>
  </body>
</html>
